<h1>投稿一覧</h1>
<table>
  <tr>
    <th>画像</th>
    <th>内容</th>
    <th>ユーザー</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.image.url %></td>
      <td><%= post.content %></td>
      <td><%= post.user.name %></td>
      <td>
        <button type="button" class="btn btn-light">
        <%= link_to "詳細を確認する", post_path(post.id) %>
        </button><br><br>
        <button type="button" class="btn btn-light">
        <%= link_to "編集する", edit_post_path(post.id), data: { confirm: "本当に編集していいですか？"} %>
        </button><br><br>
        <button type="button" class="btn btn-light">
        <%= link_to "削除する", post_path(post.id), data: { confirm: "本当に削除していいですか？"}, method: :delete %>
      </button></td>
    </tr>
  <% end %>
</table>
<br>
<button type="button" class="btn btn-light"><%= link_to '新しく投稿する', new_post_path %></button>