<h1>新しく投稿する</h1>
<%= form_with( model: @post, local: true, url: confirm_posts_path ) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_expanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :画像 %>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="post_content">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>
  <br>
<%= form.submit "確認画面へ" %>
<% end %>
<button type="button" class="btn btn-light">
<%= link_to "一覧画面に戻る", posts_path %>
</button>